*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}
#warriors {
    color: black;
    text-shadow: 1.5px 1.5px 1.5px rgb(249, 243, 243);
}

.red {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 40px;
    height: 700px;
    background-image: url("../images/the-woman-kingBackground.png");    
}
