/*beginning of index.html css*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* EXTEND THE PX HEIGHT ON ALL PAGES */
/*HEADER IMAGE*/
.indexheader {

  background: linear-gradient(rgba(0, 3, 3, 0.5), rgba(0, 3, 3, 0.5)), url("../images/dorafightingstance.gif");
  background-position: center;
  background-size: cover;
  height: 700px;
}

/*NAV BAR*/
nav {

  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: large;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 11px;
  background-color: transparent;
  text-shadow: 1px 1px 1px whitesmoke;


}

/*NAV BAR LINKS*/
nav>a {
  background-color: transparent;
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 20px;
  display: flex;

}

/*NAV BAR IMAGE LOGO*/
#navimage {
  width: 75px;
  background: position 50%;
}

/*NAVBAR HOVER*/
nav>a:hover {

  padding: 7px;
  width: max-content;
  color: darkred;

}

/*CLASS THAT CHANGES H1 COLOR*/
.headingcolor {
  color: gold;
  font-size: 47px;
  font-weight: 300;
  text-align: center;
  display: block;
  text-transform: uppercase;
  text-shadow: 4px 4px 4px black;
 

}

/*ID TO CHANGE H3 COLOR AND POSITION*/
#colorheadingred {

  color: darkred;
  text-align: center;
  font-weight: 7px;


}

h3 {
  color: darkred;
  text-align: center;
  font-weight: 7px;

}

/*SECTION 1 AND 2  H3*/
.section1>h3 {

  color: darkred;
  text-align: center;
  font-weight: 7px;
  margin-top: 3%;
}

.section2>h3 {
  color: darkred;
  text-align: center;
  font-weight: 7px;
  margin: 1% 2%;

}


/*VIDEO*/
#video {

  padding: 15px, 15px;
  border: auto;
  border-style: dashed;
  border-color: darkred;
  border-width: 17px;
  border-style: groove;
  background-position: center;
  width: 50%;
  height: 17%;
  margin-top: 3%;
  float:left 50%;
}

/*BACK TO TOP CLASS BUTTON*/
.backtotop {
  background-color: darkred;
  border-radius: 8px;
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.backtotop {
  background-color: white;
  color: black;
  border: 2px solid black;
}

.backtotop:hover {
  background-color: black;
  color: red;
}

/*FOOTER*/


footer {
  background-color: black;
  width: 100%;
  color: red;
  }

/*PARAGRAPH THAT IS LOCATED BESIDE VIDEO*/

#videoparagraph {
  float: right;
  padding: 57px;
  font-size: medium;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

/*TABLE*/

.table {
  font-family: Georgia, 'Times New Roman', Times, serif;
  border-collapse: collapse;
  width: 35%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;


}

td,
th {
  border: 1px solid lightgray;
  text-align: left;
  padding: 8px;
  width: 30%;
}

tr:nth-child(even) {
  background-color: lightgray;
}

th {
  background-color: black;
  color: white;
  border: transparent;
}

table>p {
  text-align: center;
  padding: auto;
}

/*SECTION 2 SERVICES PARAGRAPH*/


.section2>p {
  text-align: center;
  padding: 3px;
}

/*SERVICES SPAN ID*/
#services {
  padding: 2px 2px;
  text-align: center;

}
.section2{
 
  margin-top:77px;
  
}

/*end of index.html css*/

/* <!--START OF LEADERSHIP PAGE--> */
#warriors {
  color: black;
  text-shadow: 1.5px 1.5px 1.5px rgb(249, 243, 243);
  text-align: center;
  font-size: 50px;
}

.red {
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 10px;
  height: 700px;
  background: linear-gradient(rgba(244, 160, 34, 0.5), rgba(170, 40, 0, 0.5)), url("../images/the-woman-kingBackground.png");
}

.profiles {
  border: 2px solid gold;
}

#milaje {
  color: white;
  text-shadow: 1.5px 1.5px 1.5px black;
  font-size: 50px;
}

#team {
  font-size: 25px;
}

.reach {
  text-align: center;
  background-color: black;
  color: goldenrod;
  font-size: 16px;
  display: inline-block;
  border: 2px solid goldenrod;
  border-radius: 20%;
  width: 25%;
}

/* <!-- END OF LEADERSHIP PAGE --> *
/* <!--Start of Hour Page -->*/
.space {
  height: 700px;
   background: linear-gradient(rgba(244, 160, 34, 0.5), rgba(170, 40, 0, 0.5)), url("../images/the-woman-king-07.png");
   border: 4px solid black;
}
#hours {
  text-align: center;
  font-style: oblique;
  text-shadow: 1px 1px 1px crimson;
  padding: 75px;
}
#face {
  text-align: center;
  font-size: 50px;
  color: white;
  text-shadow: 1px 1px 1px black;

}
/* possible adjustment of margin. this is the table */
#sun-sat {
  float: left;
  width: 45%;
  box-shadow: 2px 2px 2px black;
 margin-left: 35px;
}
#feet {
  margin-top: 400px;
}
#journey {
  padding: 75px;
  border: 5px;
  float: left;
  width: 50%;
}
/* Might retract background color */
#bck {
  background-color: rgb(252, 248, 243);
}

/* <!--End of Hour Page -->*/


/* <!--Contact form header and paragraph -->*/
.contactheader{
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/doramilaje.png");
  background-position: center;
  background-size: cover;
  height: 700px;
}
.heading2contactus{
text-align: center;
padding: 7px;

}
#heading2paragraph{
  margin: auto;
  width: 50%;
  padding: 17px;

}
/* <!-- end of form header and paragraph -->*/
/* <!-- Contact page form styles --> */
.form{
  
  border-radius: 3%;
  background-color: whitesmoke;
  margin: auto;
  width: 50%;
  border: 3px solid whitesmoke;
  padding: 10px;
  text-align: left;
  display: flex;
  justify-content: center;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid whitesmoke;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type=submit] {
  background-color: black;
  color: white;
  padding: 12px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-top: 0;
}

input[type=submit]:hover {
  background-color: red;

}

textarea{
  height:170px;
  font-family: Georgia;
}

/* <!-- end of contact form styles -->*/
